.container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    color: pink;
    -ms-grid-row-align: center;
    color: aqua;
}

.box {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}

.box2 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}

.box3 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}

.box4 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}

.box5 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}

.box6 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap: 1rem;
}